dist/
dist-newstyle/
cabal.sandbox.config
.cabal-sandbox/
cabal.project.local
cabal.project.local~
.ghc.environment.*
.stack-work/
*.hi
*.o
*.exe
*.dll
*.so
*.dylib
*.prof
*.aux
*.hp
*.eventlog
*.tix
.DS_Store
*.swp
*.swo
*~
\#*
.\#*
.vscode/
.idea/